<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="/fragments/head :: head-front"></head>
  <body>
    <nav th:replace="/fragments/nav :: nav-front"></nav>
    <main role="main" class="container">
      <div class="text-center">
        <img
          src="https://previews.123rf.com/images/file404/file4041410/file404141003884/32482371-programmer-has-an-idea-illustration.jpg"
          alt="사람사진"
          class="img-thumbnail"
          width="50%"
          height="50%"
        />
        <h1>Created <br />by <br />SJY</h1>
      </div>
    </main>
    <footer th:replace="/fragments/footer :: footer"></footer>
  </body>
</html>
