<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments/head :: head-front"></head>
  <body class="g-sidenav-show bg-gray-200">
    <!-- 메인 컨텐트 시작 -->
    <main class="main-content mt-0">
      <section>
        <div class="page-header min-vh-100">
          <div class="container">
            <div class="row">
              <div class="col-md-10 ms-auto me-auto">
                <div class="card card-plain">
                  <div class="card-header">
                    <h4 class="font-weight-bolder">게시글 수정</h4>
                    <p class="mb-0">게시글을 수정해주세요.</p>
                  </div>
                  <div class="card-body bg-white">
                    <form role="form" th:action="@{/modify}" method="post" th:object="${board}">
                      <input type="hidden" th:field="*{bno}" />
                      <!-- is-filled 없으면 label의 제목 텍스트와 입력된 값이 겹쳐서 출력됨-->
                      <div class="input-group input-group-outline mb-3 is-filled">
                        <label class="form-label">제목</label>
                        <input type="text" class="form-control" th:field="*{title}" required />
                      </div>
                      <div class="input-group input-group-outline mb-3 w-100">
                        <div class="input-group input-group-dynamic w-100">
                          <textarea th:field="*{content}" class="form-control" rows="5" placeholder="내용을 적어주세요." spellcheck="false" required></textarea>
                        </div>
                      </div>
                      <div class="input-group input-group-outline mb-3 is-filled">
                        <label class="form-label">작성자</label>
                        <input type="text" class="form-control" th:field="*{writer}" readonly required />
                      </div>
                      <div class="text-center">
                        <a th:href="@{/board} + '?pageNum=__${cri.pageNum}__'" class="btn btn-danger">수정 취소</a>
                        <button type="submit" class="btn btn-success">수정 완료</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer th:replace="/fragments/footer :: footer"></footer>
    <script>
      //목록,수정 클릭시
      const links = document.querySelectorAll('a.page');
      links.forEach((link) => {
        link.addEventListener('click', function (e) {
          e.preventDefault();
          let keyword = '[[${cri.keyword}]]'; //키워드가 있을경우 키워드 추가
          let type = '[[${cri.type}]]';
          if (keyword.trim()) {
            keyword = '&keyword=' + keyword;
            type = '&type=' + type;
          }
          location.href = this.getAttribute('href') + keyword + type;
        });
      });
    </script>
  </body>
</html>
