<div class="col-2" th:fragment="categories">
  <h3 class="display-5 c">Categories</h3>
  <ul class="list-group text-center">
    <li class="list-group-item">
      <a th:href="@{/category/all}" class="nav-link">All Products</a>
    </li>
    <li class="list-group-item" th:each="category: ${ccategories}">
      <a class="nav-link" th:href="@{'/category/' + ${category.slug}}" th:text="${category.name}"></a>
    </li>
  </ul>
  <div th:replace="/fragments/cart_partial"></div>
  <script src="">
    const asd = document.querySelector('.c');
    asd.addEventListener('click', function (e) {
      asd.toggleClass('.hide');
    });
  </script>
</div>
